@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post" action="~/Ajax/Register" name="formdata" id="formData">
            <div class="mb-3">
                <label for="inputName" class="form-label">姓名</label>
                <input type="text" class="form-control" id="inputName" name="name">
            </div>
            <div class="mb-3">
                <label for="inputEmail" class="form-label">電子郵件</label>
                <input type="email" class="form-control" id="inputEmail" name="email">
            </div>
            <div class="mb-3">
                <label for="inputAge" class="form-label">年紀</label>
                <input type="number" class="form-control" id="inputAge" name="age">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">檔案上傳</label>
                <input class="form-control" type="file" id="fileName" name="fileName">
            </div>
            <button id="buttonSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div id="div1" class="alert alert-info"></div>
    </div>
    <div class="col-3"></div>
</div>
@section Scripts
    {
    <script>
        const btn = document.querySelector("#buttonSubmit");
        const divMessage = document.querySelector("#div1");
        const name = document.querySelector("#inputName");
        const email = document.querySelector("#inputEmail");
        const age = document.querySelector("#inputAge");
        const xhr = new XMLHttpRequest();

        btn.addEventListener('click', event => {
            event.preventDefault();
            xhr.addEventListener('load', () => {
                divMessage.innerHTML = xhr.responseText;

            }) 
            fetch('@Url.Content("~/Ajax/Register")',{
        method:'POST',
        body:FormData
                })
        .then(response=>{ 
            if(response.ok){
        alert("新增成功")
        location.href('@Url.Content("~/Home/Member")');
        }}
            //const formData = new FormData(document.querySelector("#formData"));
           
           // xhr.open('POST', "@Url.Content("~/Ajax/Register")");
           //  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
           // xrh.send(`name=${name.value}&age=${age.value}&email=${email.value}`);
           //  xhr.send(formData);
        })
        xhr.open('POST', "@Url.Content("~/Ajax/Register")");

const formData = new FormData(document.querySelector("#formData"));
xhr.send(formData);
       
       
                )
        



    </script>

}


